<div class="container-fluid ">
  <div class="row">
    <!--header-->

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#profile">Varad's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-container-nav " style="margin-left: 250px;">
            <li class="nav-item mx-5">
              <b> <a class="nav-link active" aria-current="page" href="#about">About</a></b>

            </li>
            <li class="nav-item mx-5">
              <b> <a class="nav-link active" aria-current="page" href="#projects">Portfolio</a></b>

            </li>
            <li class="nav-item mx-5">
              <b><a class="nav-link active" aria-current="page" href="#skills">Skills</a></b>

            </li>
            <li class="nav-item mx-5">
              <b><a class="nav-link active" aria-current="page" href="#contact">contact</a></b>

            </li>
          </ul>
        </div>
        <div class="text-end mx-2">
          <a href="https://github.com/varadkumbhar" target="_blank">  <button type="button" class="btn btn-secondary sourceCode">Source Code</button></a>

        </div>
      </div>
    </nav>



    <!--profile-->
    <section id="profile" style="margin-top: 40px;margin-bottom: 70px;">
      <div class="row">
        <div class="col-md-6 text-center p-5">
          <!-- <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2" ><img src="/assets/images/WhatsAppImage.jpeg" alt="" height="100px" ></div>

          </div> -->
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <h4 class="mb-3">Hello I am</h4>
              <h1 class="mb-3">
                Varad Kumbhar
              </h1>
              <h4 class="mb-5">Front-End Developer</h4>
              <p>
                Front-End Developer with in-depth knowledge of Javascript, Angular software development and UX Design.
              </p>
              <div class="mb-4 mt-5">
                <a href="https://drive.google.com/file/d/1TaaBrtLgnhwCZNs6iw9ckhjlp7aa9fu5/view?usp=share_link" target="_blank"><button type="button" class="btn dwnldResume  w-75">Download Resume</button></a>

              </div>
              <div>
                <a href="#contact"><button type="button" class="btn letTalk w-75">Let's Talk</button></a>

              </div>
            </div>
            <div class="col-md-2">

            </div>
          </div>


        </div>
        <div class="col-md-6" style="margin-top: 90px;">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
              <div class="card bg-secondary bg-opacity-25">
                <div class="card-body">
                  <div class="row text-center">
                    <h3>Let's Connect</h3>
                  </div>
                  <div class="row text-center " style="margin-bottom: 30px; margin-top: 30px;">
                    <div class="col-md-6 ">
                      <a href="https://www.linkedin.com/in/varad-kumbhar-407a271b6/" target="_blank">
                        <i class="fa fa-linkedin-square" style="font-size: 80px;" aria-hidden="true"> </i>
                      </a>

                    </div>
                    <div class="col-md-6 ">
                      <a href="https://twitter.com/varad0024" target="_blank">
                        <i class="fa fa-twitter-square" style="font-size: 80px;" aria-hidden="true"></i>
                      </a>

                    </div>

                  </div>
                  <div class="row text-center mb-5">
                    <div class="col-md-6 ">
                      <a href="https://www.instagram.com/the_linesketcher/" target="_blank">
                        <i class="fa fa-instagram " style="font-size: 80px;" aria-hidden="true"></i>
                      </a>

                    </div>
                    <div class="col-md-6">
                      <a href="https://github.com/varadkumbhar" target="_blank">
                        <i class="fa fa-github" style="font-size: 80px;" aria-hidden="true"></i>
                      </a>

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3">

            </div>
          </div>
        </div>
      </div>
    </section>


    <!--about Me-->
    <section id="about">
      <div class="row mt-5">
        <div class="flex-container ">
          <div class="card w-75 ">
            <div class="card-body ">
              <div class="row ">
                <div class="col-md-6">
                  <h4>About</h4>
                  <div class="row">

                    <div class="col-md-11 ">
                      <ul class="mt-3">
                        <li>Angular Developer with 6+ months of Experience</li>
                        <li>Have good Understanding about HTML, CSS, Bootstrap, Git, Angular14, Angular15</li>
                        <li>Basic Knowledge about Figma Wireframing and Prototype</li>
                        <li>Familiar with VS code, Github, JIRA software </li>
                        <li>Angular library, PrimeNg library, CSS Animation, Awesome icons fonts</li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <h4>Basic Information</h4>
                  <div class="row">
                    <div class="col-md-4 abtBoldText mt-3">
                      <b>
                        <p>DATE OF BIRTH :</p>
                      </b>
                      <b>
                        <p>EMAIL :</p>
                      </b>
                      <b>
                        <p>PHONE :</p>
                      </b>
                      <b>
                        <p>ADDRESS :</p>
                      </b><br>
                      <b>
                        <p>LANGUAGE :</p>
                      </b>
                    </div>
                    <div class="col-md-8 mt-3">
                      <p>Sept 10,1998</p>
                      <p>varad0024@gmail.com</p>
                      <p>8530849294</p>
                      <p>202-A,Near Ch. Shiwaji Chowk, Tasgaon, Sangli, Maharashtra-416312.</p>
                      <p>Marathi, Hindi, English</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>


    <!--projects-->
    <section id="projects" class="mt-5">
      <div>
        <h3 class="text-center mb-4">
          Portfolio
        </h3>
      </div>
      <div class="row mb-3">
        <div>
          <h5 class="text-center mb-4">
            Angular Projects
          </h5>
        </div>
        <div class="flex-container">
          <div class="row text-center ">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/angular_Img/inline-table-edit.PNG" class="card-img-top" alt="..."  height="200px">
                <div class="card-body">
                  <h5 class="card-title">Inline Table Edit</h5>
                  <p class="card-text"  height="300px">Edit Table Data by direct click on row of table instead of using edit button</p>
                  <div>
                    <a href="https://drive.google.com/file/d/1fumkZeQ2WYGCQw8ufedkZB3ayVddct-H/view?usp=share_link" target="_blank"><button class="btn liveDemoBtn mb-2 w-75">Live Demo</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://github.com/varadkumbhar/Inline_Table_Editing" target="_blank"><button type="button" class="btn btn-outline-primary gitBtn w-75">Github</button></a>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/angular_Img/modal-popup2.PNG" class="card-img-top" alt="..."  height="200px">
                <div class="card-body">
                  <h5 class="card-title">Modal Popup</h5>
                  <p class="card-text"  height="200px"> Save Data using modal pop-up instead of using form and applied checkbox for selecting data</p>
                  <div>
                    <a href="https://drive.google.com/file/d/1dViUHsK9jVIfw4ssiuvy7eWq9JBo_dJe/view?usp=share_link" target="_blank"><button class="btn liveDemoBtn mb-2 w-75">Live Demo</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://github.com/varadkumbhar/studentdataModalPopup" target="_blank"><button type="button" class="btn btn-outline-primary gitBtn w-75">Github</button></a>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/angular_Img/productBill.PNG" class="card-img-top" alt="..."  height="200px">
                <div class="card-body">
                  <h5 class="card-title">Product-Bill</h5>
                  <p class="card-text"  height="200px">Save product Name & Sku with concating and apply discount on product and get a final price </p>
                  <div>
                    <a href="https://drive.google.com/file/d/1-nEvMdBeev2CIQ9C30RkszHu1wk_QtmT/view?usp=share_link" target="_blank"><button class="btn liveDemoBtn mb-2 w-75">Live Demo</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://github.com/varadkumbhar/productBill" target="_blank"> <button type="button" class="btn btn-outline-primary gitBtn w-75">Github</button></a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mb-3">
        <div>
          <h5 class="text-center mt-5 mb-4">
            Figma Projects
          </h5>
        </div>
        <div class="flex-container">
          <div class="row text-center ">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/figma_Img/Art_StudioApp.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" >Shree Studio App</h5>
                  <p class="card-text" height="200px">This app mainly work to delivers the ganesha's idol to the devotees's home</p>
                  <div>
                    <a href="https://www.figma.com/proto/vbhdjJ3lJ9zJ6PCedgzmX5/SREE-Art-Studio-App?node-id=1%3A2&starting-point-node-id=1%3A2"
                      target="_blank"><button class="btn liveDemoBtn mb-2 w-75">Figma Live</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://www.behance.net/gallery/159823851/Shree-Art-Studio" target="_blank"><button
                        type="button" class="btn btn-outline-primary gitBtn w-75">Behance</button></a>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/figma_Img/foodie.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Foodcastle App</h5>
                  <p class="card-text" height="200px" >Foodcastle is a food delivery app, app design is run from login to buy product</p>
                  <div>
                    <a href="https://www.figma.com/proto/KmgIaXSKBhIqX7wuvRj13g/FoodCastle-app-UI?node-id=401%3A3&scaling=contain"
                      target="_blank"> <button class="btn liveDemoBtn mb-2 w-75">Figma Live</button> </a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://www.behance.net/gallery/160467005/FoodCastle" target="_blank"> <button
                        type="button" class="btn btn-outline-primary gitBtn w-75">Behance</button></a>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/figma_Img/2Capture.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CodeFirst Login Page</h5>
                  <p class="card-text" height="200px">CodeFirst is a institute management system, they want customise login page design.</p>
                  <div>
                    <a href="https://www.figma.com/file/QxNnCC1T0P0rlTA3j5KmRj/CodeFirst?node-id=0%3A1&t=vUqwOsYtpgnksJ6j-0"
                      target="_blank"> <button class="btn liveDemoBtn mb-2 w-75">Figma Live</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary mb-2">Go somewhere</a> -->
                  <div>
                    <a href="https://www.behance.net/gallery/160468803/CodeFirst" target="_blank"> <button type="button"
                        class="btn btn-outline-primary gitBtn w-75">Behance</button></a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!--skills-->
    <section id="skills" class="mt-5 mb-5">
      <div>
        <h3 class="text-center mb-4">
          Skills
        </h3>
      </div>
      <div class="row">
        <div class="flex-container">
          <div class="card w-75">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  HTML
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"
                      style="width: 98%"></div>
                  </div>

                  CSS
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="width: 80%"></div>
                  </div>

                  Bootstrap
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"
                      style="width: 98%"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  ANGULAR
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                      style="width: 90%"></div>
                  </div>

                  JAVASCRIPT
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                      style="width: 50%"></div>
                  </div>

                  FIGMA
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-label="Animated striped example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                      style="width: 95%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--contact-->
    <!-- <section id="contact" class="mt-5 mb-5">
      <div>
        <h3 class="text-center mb-4 ">
          Contact
        </h3>
      </div>

      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="emailMsg mb-3 text-center">
                <div class="card bg-secondary bg-opacity-25">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <a href="https://mail.google.com/mail/u/1/#inbox" target="_blank">
                          <i class="fa fa-envelope-o" style="font-size: 25px;" aria-hidden="true"></i>
                        </a>
                        <h4>Email</h4>
                        <h6>varad0024@gmail.com</h6>

                        <p href="https://mail.google.com/mail/u/1/#inbox" target="_blank">Send Message</p>


                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class="linkdinMsg text-center">
                <div class="card bg-secondary bg-opacity-25">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <a href="https://www.linkedin.com/in/varad-kumbhar-407a271b6/" target="_blank">
                          <i class="fa fa-linkedin-square" style="font-size: 25px;" aria-hidden="true"></i>
                        </a>
                        <h4>Linkdin</h4>
                        <h6>varad0024@gmail.com</h6>

                        <p href="https://www.linkedin.com/in/varad-kumbhar-407a271b6/" target="_blank">Send Message</p>


                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="mb-4">
                <input type="text" name="" id="" placeholder="Your Full Name" class="form-control">
              </div>
              <div class="mb-4">
                <input type="text" name="" id="" placeholder="Your Full Name" class="form-control">
              </div>
              <div class="mb-4">
                <textarea name="" id="" cols="1" rows="5" placeholder="Your Full Name" class="form-control"></textarea>
              </div>
              <div class="mb-4 text-end mt-5">
                <button type="button" class="btn btn-info letTalk">Send Message</button>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-3">

        </div>
      </div>


      <div class="row">

      </div>
    </section> -->



    <!--Footer-->
    <!-- <section id="contact">
      <div class="container-fluid footer-menu" >
          <div class="row">
              <div class="col-6"><br>
                  <h4 class="footer-details"> <b> Contact </b> </h4>
                  <address> Address: Shree Studios, <br>
                      Near SST Cold Storage, <br>
                      Vitthalnagar,Tasgaon-416312
                  </address>
                  <p>Email : studiosshree@gmail.com</p>
                  <p>Mobile : 8378915080</p>
              </div>
              <div class="col-6"><br>
                  <h4 class="about-us fw-bold">About us</h4>
                  <p>We Shree Studios provides Ganapti Idols Online/Offline also We have Shadu idols in low prices.
                  </p>
              </div>

              <div class="col-12">
                  <p class="footer-end text-center">@Varad_Kumbhar</p>
              </div>
          </div>
      </div>
  </section> -->


    <Section id="contact" class=" footer mt-5 mb-5">
      <div class="row ">
        <div class="col-md-12 text-center ">

          <a href="https://www.instagram.com/the_linesketcher/" target="_blank">
            <i class="fa fa-instagram mx-2 footericon" style="font-size: 30px;" aria-hidden="true"></i>
          </a>

          <a href="https://www.linkedin.com/in/varad-kumbhar-407a271b6/" target="_blank">
            <i class="fa fa-linkedin-square mx-2 footericon" style="font-size: 30px;" aria-hidden="true"> </i>
          </a>

          <a href="https://www.behance.net/varadkumbhar0024" target="_blank">
            <i class="fa fa-behance mx-2 footericon" style="font-size: 30px;" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/varadkumbhar" target="_blank">
            <i class="fa fa-github mx-2 footericon" style="font-size: 30px;" aria-hidden="true"></i>
          </a>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <p style="font-size: 20px;"> Varad Kumbhar</p>
        </div>
      </div>

    </Section>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
